.ruleta-container {
  position: relative;
  width: 400px; /* no olvidar si se cambia esto, cambiar ball container */
  height: 400px;
}

.ruleta-principal,
.ruleta-contorno,
.ruleta-contorno1,
.ruleta-contorno2,
.ruleta-contorno3,
.ball-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  pointer-events: none; /* no tocar esto porque sino se superpone con algunos componentes de la página */
}

.ball-container {
  top: 0;
  left: 0;
  right: 0;
  width: 400px;
  height: 400px;
  z-index: 6;

}

.ball {
  position: relative;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff radial-gradient(circle at 5px 5px, #fff, #444); /* color de la bola */
  box-shadow: 1px 1px 4px #000;
  top: 50%;
  left: 50%;
  z-index: 7;
}

.ruleta-principal {
  z-index: 1;
}

.ruleta-contorno {
  z-index: 2;
}

.ruleta-contorno1 {
  z-index: 3;
}

.ruleta-contorno2 {
  z-index: 4;
}

.ruleta-contorno3 {
  z-index: 5;
}
